:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --footer-address-color: rgba(255, 255, 255, 0.6);
    --background-body-color: #FFFFFF;
    --background-hero-color: #2F303A;
    --background-teams-color : #F5F4FA;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--background-body-color);
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
    text-decoration: none;
}


/*-----header-----*/

header .container {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--background-body-color);
    border-bottom: 1px solid #ECECEC;

}

.header-list {
    display: flex;
}

.header-list >li:not(:last-child) {
    margin-right: 50px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    color: var(--logo-color);
    margin-right: 93px;
    padding: 25px 0;
}
.logo-web {
    color: var(--accent-color);
}

.header-link {

    color: var(--primary-text-color);
}
.header-link.current {
    color: var(--accent-color);
}

.header-link .header-link-current {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-mail {
    margin-right: 50px;
}
/* --hero-- */
.hero {
    text-align: center;

    background: var(--background-hero-color);

    padding: 200px 0;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
   
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background: var(--accent-color);
    cursor: pointer;
    min-width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

/* --benefits--*/

.benefits-list {
    display: flex;
}

.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.our-benefits-title, .portfolio-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.benefits-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
        margin-bottom: 10px;
}

.benefits-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}



/* --about-- */

.about-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}

.about-list {
    display: flex;
}

.about-list-item:not(:last-child) {
    margin-right: 30px;

}

/* --teams-- */

.teams {
    background: var(--background-teams-color);
}

.teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}

.teams-list {
    display: flex;
}

.teams-item:not(:last-child) {
        margin-right: 30px;
}

.teams-item-img {
margin-bottom: 30px;
}

.teams-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--primary-text-color);
        margin-bottom: 10px;
}

.teams-info {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--second-text-color);
        margin-bottom: 30px;
}

/* --footer-- */

.footer {
        background: var(--background-hero-color);
        padding: 60px 0;
}

.footer-logo {
    display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
        margin-bottom: 20px;
}

.address {
    font-style: normal;
}

.footer-address {
    color: var(--primary-white-color);
}

.footer-list {
    display: block;
}

.footer-items:not(:last-child) {
    margin-bottom: 10px;
}

.footer-mail, .footer-tel {
    color: var(--footer-address-color);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

/* --portfolio-- */

.portfolio-filtr-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.portfolio-filtr-item:not(:last-child) {
    margin-right: 8px;
}
.filtr-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-text-color);

    cursor: pointer;
    padding: 6px 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border-color: transparent;
}

.filtr-btn:hover, 
.filtr-btn:focus {
    color: var(--primary-white-color);
    background: var(--accent-color);
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
}

.portfolio-gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-gallery-item {
    margin: 15px;
}
.portfolio-gallery-text {
        font-size: 16px;
        line-height: 1.88;
        color: var(--second-text-color);
        margin-bottom: 20px;
}